In [39]:
import pandas as pd
import sqlalchemy
import pymysql
pymysql.install_as_MySQLdb()

conn = sqlalchemy.create_engine('mysql://DA_SeoulBike:engineering403@leejs-dbins.cuqks267yd6q.ap-northeast-2.rds.amazonaws.com:3306/teamdata', encoding='utf-8')

query = ("SELECT 대여소,대여일시,대여횟수,X,Y,PM10매우나쁨,PM10나쁨,PM10보통,PM10좋음,기온,강수여부,구 FROM teamdata.Total_Dataset where 대여일시 = '2018-09-05 18:00:00';")
data = pd.read_sql(sql=query, con=conn)
data.columns = ['대여소','대여일시','대여횟수','X','Y','PM10매우나쁨','PM10나쁨','PM10보통','PM10좋음','기온','강수여부','구']
data.head()

,대여소,대여일시,대여횟수,X,Y,PM10매우나쁨,PM10나쁨,PM10보통,PM10좋음,기온,강수여부,구
0,101,2018-09-05 18:00:00,2,37.549561,126.905754,0,0,1,0,26.5,0,마포구\r
1,102,2018-09-05 18:00:00,10,37.555649,126.910629,0,0,1,0,26.5,0,마포구\r
2,103,2018-09-05 18:00:00,8,37.554951,126.910835,0,0,1,0,26.5,0,마포구\r
3,104,2018-09-05 18:00:00,8,37.550629,126.914986,0,0,1,0,26.5,0,마포구\r
4,105,2018-09-05 18:00:00,2,37.550007,126.914825,0,0,1,0,26.5,0,마포구\r

In [40]:
query2 = ("SELECT 대여소,대여일시,대여횟수,X,Y,PM10매우나쁨,PM10나쁨,PM10보통,PM10좋음,기온,강수여부,구 FROM teamdata.Total_Dataset where 대여일시 = '2018-08-05 18:00:00';")
data2 = pd.read_sql(sql=query2, con=conn)
data2.columns = ['대여소','대여일시','대여횟수','X','Y','PM10매우나쁨','PM10나쁨','PM10보통','PM10좋음','기온','강수여부','구']
data2.head()

,대여소,대여일시,대여횟수,X,Y,PM10매우나쁨,PM10나쁨,PM10보통,PM10좋음,기온,강수여부,구
0,101,2018-08-05 18:00:00,0,37.549561,126.905754,0,0,0,1,31.4,0,마포구\r
1,102,2018-08-05 18:00:00,7,37.555649,126.910629,0,0,0,1,31.4,0,마포구\r
2,103,2018-08-05 18:00:00,7,37.554951,126.910835,0,0,0,1,31.4,0,마포구\r
3,104,2018-08-05 18:00:00,5,37.550629,126.914986,0,0,0,1,31.4,0,마포구\r
4,105,2018-08-05 18:00:00,0,37.550007,126.914825,0,0,0,1,31.4,0,마포구\r

In [41]:
query3 = ("SELECT 대여소,대여일시,대여횟수,X,Y,PM10매우나쁨,PM10나쁨,PM10보통,PM10좋음,기온,강수여부,구 FROM teamdata.Total_Dataset where 대여일시 = '2018-02-05 18:00:00';")
data3 = pd.read_sql(sql=query3, con=conn)
data3.columns = ['대여소','대여일시','대여횟수','X','Y','PM10매우나쁨','PM10나쁨','PM10보통','PM10좋음','기온','강수여부','구']
data3.head()

,대여소,대여일시,대여횟수,X,Y,PM10매우나쁨,PM10나쁨,PM10보통,PM10좋음,기온,강수여부,구
0,101,2018-02-05 18:00:00,0,37.549561,126.905754,0,0,0,1,-8.0,0,마포구\r
1,102,2018-02-05 18:00:00,0,37.555649,126.910629,0,0,0,1,-8.0,0,마포구\r
2,103,2018-02-05 18:00:00,0,37.554951,126.910835,0,0,0,1,-8.0,0,마포구\r
3,104,2018-02-05 18:00:00,0,37.550629,126.914986,0,0,0,1,-8.0,0,마포구\r
4,105,2018-02-05 18:00:00,1,37.550007,126.914825,0,0,0,1,-8.0,0,마포구\r

In [42]:
data['대여소'] = data['대여소'].astype(str)
data2['대여소'] = data2['대여소'].astype(str)
data3['대여소'] = data3['대여소'].astype(str)

In [46]:
import folium
import json
import sys
sys.setrecursionlimit(3000)

map_osm = folium.Map(location=[37.566345, 126.977893])
rfile = open('c:/users/seoul_municipalities_geo_simple.json', 'r', encoding='utf-8').read()
jsonData = json.loads(rfile)
folium.GeoJson(jsonData, name='json_data').add_to(map_osm)

dv = data.values
dv2 = data2.values
dv3 = data3.values
for col in dv:
    folium.CircleMarker([col[3], col[4]],radius=col[2]*3,
                        popup=col[0], color='#16A500',
                        fill_color='#16A500').add_to(map_osm)

for col in dv2:
    folium.CircleMarker([col[3], col[4]],radius=col[2]*3,
                        popup=col[0], color='#FF0000',
                        fill_color='#FF0000').add_to(map_osm)
for col in dv3:
    folium.CircleMarker([col[3], col[4]],radius=col[2]*3,
                        popup=col[0], color='#00B6FF',
                        fill_color='#00B6FF').add_to(map_osm)

map_osm.save('c:/users/이지호/desktop/temp.html')

In [44]:
query4 = ("SELECT 대여소,대여일시,대여횟수,X,Y,PM10매우나쁨,PM10나쁨,PM10보통,PM10좋음,기온,강수여부,구 FROM teamdata.Total_Dataset where 대여일시 = '2018-08-29 18:00:00';")
data4 = pd.read_sql(sql=query4, con=conn)
data4.columns = ['대여소','대여일시','대여횟수','X','Y','PM10매우나쁨','PM10나쁨','PM10보통','PM10좋음','기온','강수여부','구']
data4.head()

,대여소,대여일시,대여횟수,X,Y,PM10매우나쁨,PM10나쁨,PM10보통,PM10좋음,기온,강수여부,구
0,101,2018-08-29 18:00:00,0,37.549561,126.905754,0,0,0,1,23.4,1,마포구\r
1,102,2018-08-29 18:00:00,0,37.555649,126.910629,0,0,0,1,23.4,1,마포구\r
2,103,2018-08-29 18:00:00,0,37.554951,126.910835,0,0,0,1,23.4,1,마포구\r
3,104,2018-08-29 18:00:00,0,37.550629,126.914986,0,0,0,1,23.4,1,마포구\r
4,105,2018-08-29 18:00:00,0,37.550007,126.914825,0,0,0,1,23.4,1,마포구\r

In [45]:
map_osm = folium.Map(location=[37.566345, 126.977893])
rfile = open('c:/users/seoul_municipalities_geo_simple.json', 'r', encoding='utf-8').read()
jsonData = json.loads(rfile)
folium.GeoJson(jsonData, name='json_data').add_to(map_osm)

data4['대여소'] = data3['대여소'].astype(str)
dv = data.values
dv4 = data4.values

for col in dv:
    folium.CircleMarker([col[3], col[4]],radius=col[2]*3,
                        popup=col[0], color='#007715',
                        fill_color='#007715').add_to(map_osm)

for col in dv4:
    folium.CircleMarker([col[3], col[4]],radius=col[2]*3,
                        popup=col[0], color='#0038D3',
                        fill_color='#0038D3').add_to(map_osm)

map_osm.save('c:/users/이지호/desktop/rain.html')

In [23]:
map_osm = folium.Map(location=[37.566345, 126.977893])
rfile = open('c:/users/seoul_municipalities_geo_simple.json', 'r', encoding='utf-8').read()
jsonData = json.loads(rfile)
folium.GeoJson(jsonData, name='json_data').add_to(map_osm)

dv = data.values
for col in dv:
    folium.Marker([col[3], col[4]], popup=col[0]).add_to(map_osm)

map_osm.save('c:/users/이지호/desktop/rain.html')

In [ ]:
query2 = ("select rr.대여소,si.StationName,si.X,si.Y,rr.대여횟수,rr.기온,rr.강수여부,rr.PM10매우나쁨,rr.PM10나쁨,rr.PM10보통,rr.PM10좋음,rr.PM25매우나쁨,rr.PM25나쁨,rr.PM25보통,rr.PM25좋음,rr.날짜 from (select w.날짜,rh.대여소,rh.대여횟수,w.기온,w.강수여부,w.PM10매우나쁨,w.PM10나쁨,w.PM10보통,w.PM10좋음,w.PM25매우나쁨,w.PM25나쁨,w.PM25보통,w.PM25좋음 from (select * from teamdata.Weather where 구 = '광진구' and 날짜 > '2018-01-01 00:00:00') w left join (select * from teamdata.RentRecord_by_hour where 대여소 = '592' or 대여소 = '502' or 대여소 = '3505' or 대여소 ='588' or 대여소 = '501' or 대여소 ='548' or 대여소 ='593' or 대여소 ='590' or 대여소 ='591' or 대여소 ='504' or 대여소 ='505' or 대여소 ='515' or 대여소 ='3501' or 대여소 ='503' or 대여소 ='3504' or 대여소 ='546') rh on w.날짜 = rh.대여일시 where w.날짜 = '2018-09-17 17:00:00') rr inner join teamdata.Station_Info si on rr.대여소 = si.StationNum")
data2 = pd.read_sql(sql=query2, con=conn)
data2.columns = ['대여소번호','대여소이름','X','Y','대여횟수','기온','강수여부','PM10매우나쁨','PM10나쁨','PM10보통','PM10좋음','PM25매우나쁨','PM25나쁨','PM25보통','PM25좋음','날짜']
data2.head()

dv2 = data2.values
for col in dv2:
    folium.CircleMarker([col[2], col[3]],radius=col[4]*3,
                        popup=col[1], color='#007849',
                        fill_color='#007849').add_to(map_osm)